<html>
    <head>

            <title>MY PROFIL</title>
            <link rel="stylesheet" href="../public/stylesheets/style.css">
    
    </head>
    <body>
    
        <h1><%=(locals.title) ? title :''%></h1>
        <hr>
        <table>
		  <tr>
		    <td><b>Nama</b></td>
		    <td>Anggita Dwi Setiya Putra</td>
		  </tr>
		  <tr>
		    <td><b>Universitas</b></td>
		    <td>STMIK AKAKOM YOGYAKARTA</td>
		  </tr>
		   <tr>
		    <td><b>Jurusan</b></td>
		    <td>Teknik Informatika</td>
		  </tr>
		  <tr>
		    <td><b>Angkatan</b></td>
		    <td>2014</td>
		  </tr>
		</table>
        <hr>
        Motivasi saya mengikuti  <b>Fullstack Javascript Workshop</b> adalah untuk memperdalam penggunaan node js dan menambah teman serta bertemu dengan orang orang hebat di bidang it tentunya

    </body>

</html>