extends layout

block content
  h1= title

  hr
	
  p nama 			:   Anggita dwi sp
  p universitas 	: 	STMIK AKAKOM Yogyakarta
  p angkatan		:	2014
  p jurusan			: 	Teknik Informatika 

  hr

  motivasi saya mengikuti FULLSTACK JAVASCRIPT WORkSHOP adalah untuk memperdalam tentang javascript
  berkenalan dengan hal hal baru dan tentunya bertemu dengan orang orang hebat